@charset "UTF-8";

body{
    background-color: rgba(85, 255, 255, 0.192);
}

h1{
    color: rgba(79, 185, 185, 0.815)
}

h1#principal{
    text-align: center;
    background-color:rgba(79, 185, 185, 0.815);
    color: white;
}

h2{
    color: rgba(0, 255, 179, 0.932)
}

.basico{
    color: greenyellow;
}

.intermediario{
    color: yellow
}

.avancado{
    color: red;
}