@charset "UTF-8";

/*
Pequenas telas: - 640px
Mobile: 640px - 768px
Tablet: 768px - 1024px
Desktop: 1024px - 1536px
Grandes telas: 1536px - 
*/

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }
    
    menu > ul {
        display: inline-block;
    }

    menu li, a{
        padding: 0px 0px 5px 5px;
        margin: 0px;
        border-radius: 5px;
    }

    main{
        width: 768px;
    }
}